@font-face {
  font-family: 'PT Serif';
  src: url('Fonts/PT_Serif/PT_Serif-Web-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background: linear-gradient(#6BD8EC, #579AF4);
  font-family: 'PT Serif', serif;
  font-size: 1.2em;
  user-select: none;
}

div.App {
  display: grid;
  grid-template-columns: 20% auto 20%;
  justify-items: center;
}

.particles {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.navigation-bar {
  user-select: none;
  display: flex;
  grid-column: 3 / 3;
  grid-row: 1 / 1;
}

@media screen and (max-width: 600px) {
  .logo {
    font-size: 2vw;
  }
}

.logo {
  white-space: nowrap;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  align-self: center;
}

.logo>span {
  padding: 0.6em;
}

.logo>span:hover {
  transition: 1.5s;
}

.image-form {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  width: 100%;
  grid-column: 2 / span 1;
  grid-row: 3 / 3;
}

.image-outer {
  margin-top: 1vw;
  grid-column: 2 / 2;
  grid-row: 4 / 4;
  width: 100%;
  max-height: 60vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.image-inner {
  width: 100%;
  height: auto;
}

.bounding-box {
  position: absolute;
  background: transparent;
  border: 3px solid #579AF4;
}

.bounding-box:hover {
  border-color: #6BD8EC;
}

.main-view {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  text-align: center;
}